<html>
<head>
<script type="text/javascript" src="cmu-graphics-for-test.js"></script>
<script type="text/javascript" src="animation-framework-dev.js"></script> 
<script type="text/javascript">
/* eslint-disable */

function frameworkPrintLine(event) {
    console.log(event.detail.line);
}

function frameworkStop(event) {}
function frameworkPause(event) {}
function frameworkUnpause(event) {}

function runCode() {
    var snippets = [{ code: '', mode: 'py'}];
    postToIDE('brythonRunCode', {
        snippets : snippets,
        resetGlobals : true
    });
}

window.onload = () => {
  initCmuGraphics({localFramework: true});
  brython({ debug: 1, indexedDB: false });
  setupAppTargetEvents();
  setupCanvasEvents();
  runCode();
};
</script>

<script type="text/python">
from browser import window, document
from cmu_graphics_bry import compilePyCode
document <= "hello world"
window.py2js = compilePyCode
</script>
</head>
<form method="post">
    <input contenteditable="true" name="text" style="height:350px;width:350px"></input>
    <input type="submit" >
</form>
<body>
    <!-- Target nodes for event dispatching -->
    <div id="application-target"></div>
    <div id="brython-target"></div>
    <div style="display:flex;align-items:center;justify-content:center;">
        <div style="display:flex;align-self:flex-start"></div>
        <canvas id="userCanvas" width="400" height="400", style="border:1px solid #000000;"></canvas>
        <div style="display:flex;align-self:flex-end"></div>
    </div>
</body>
</html>
